<!DOCTYPE html>
<html>
<head>

</head>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="Keywords" content="播众互联网科技，播众，书法微信公众号，个人书法微信公众号定制，免费书法微信公众号定制">
	<meta name="Description" content="播众字画是书法类微信公众号的免费定制平台。让书法家、画家们的作品借助移动互联网得到更快更好的传播，为广大书画爱好者欣赏书画作品提供更轻便的平台和更极致的体验。提升民众艺术素质，促进传统文化艺术传承。">
	<link href="__STATIC__/home/css/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="__STATIC__/home/image/bz.ico">
	<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/styleYujian.css">
	<script src="__STATIC__/home/js/index.js"></script>
	<!--引用百度地图API-->
	<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=0wt6kSCtXGZONoWpPBEg2DVnL9pDBp67"></script>
	<title>播众互联网科技-免费的书法公众号定制平台</title>
</head>
<body>
	<div class="row" id="nav">
	<div class="header container">
		<div class="container" >
			<div class="navbar navbar-default" style="border: none;height:100%;">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" style="display: inline-block;width: 100px;" target="_self"><img src="__STATIC__/home/image/logo.png" style="height: 70%;margin:10px"></a>
				</div>
				<div id="home" class="collapse navbar-collapse navbar-responsive-collapse" style="background-color: #fff;">
					<ul class="nav navbar-nav home" > 
						<li class="active"><a href="" target="_self">首页</a></li>
						<li><a href="#c1">简介</a></li>
						<li><a href="#c2">作品展</a></li>
						<li><a href="#c3">遇见书画</a></li>
						<li><a href="#c4">联系我们</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>
<div class="main">	
	<div class="banner">
		<img src="__STATIC__/home/image/banner_3.jpg" style="width: 100%">
	</div>
	<div class="introduce">
		<a name="c1" ></a>
		<div class="container">
		
			<h1 class="h1">播众互联网科技</h1>
			<h4>
				深圳市播众互联网科技有限公司致力于打造书画社交平台
			</h4>
			<p>
				<span style="color:#f4cd87 ">为书法家免费定制个人微信公众号,</span>借助前沿的移动互联网，将传统书画通过自媒体方式进行传播，交流，赏
	鉴。
			</p>
			<p>
				我们愿为广大的书法绘画爱好者提供优质服务和极致体验，加快书法绘画自媒体向个人化，平民化，传播快的
	方向发展
			</p>
			<p>
				书法是我国的传统文化，它通过汉字书写来完成，书法中融入了书法家对自然、社会、生命的理解与思考，表现了汉语特有的思维方式、人格精神与性情志趣。书法是中国传统文化艺术的代表性符号，也是一种独立的艺术形式，具有其特有的审美和表现形式。书法的魅力在于它千人千面 ，从内容到表现形式都表达了书法家的品格情致，并且具有深厚的人文内涵。
			</p>
			<p>
				国画也是我国传统文化，国画主要是指的是画在绢、宣纸。帛上并加以装裱的卷轴画。汉族传统绘画形式是用毛笔蘸水、墨、彩作画于绢或纸上，这种画被称为“中国画”，简称”国画”。可分为人物、山水、花鸟等，技法可分工笔和写意。国画在内容和艺术创作上，体现了画家对自然、社会及与之相关联的政治、哲学、宗教、道德、文艺等方面的认识。
			</p>
			<p>
				本公司以传播发扬书法绘画艺术为己任，致力于传播发扬书法绘画艺术，为提升国民艺术素养，促进传统文化
	艺术传承，发扬我国传统书法绘画艺术做出贡献。
			</p>
		</div>
	</div>
	<div class="works"  style="background-color: #f4cd87">
		<a name="c2"></a>
		<div class="container">
			<h2>作品展</h2>
			<div class="col-xs-12 col-md-6 works-content">
				<a  target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzI4MTEyNjUzOA==&amp;mid=2650796221&amp;idx=1&amp;sn=a72526a385eb3163cdea00480fb821bc&amp;chksm=f3a6a358c4d12a4ece8957ecf66bf685adc4c2cec64712ac5a782d42391b5e6fd5ef0a33f285&amp;scene=0#wechat_redirect" title="龙新社老师书法">
					<h4>龙新社老师书法欣赏</h4>
					<img style="width: 100%" src="__STATIC__/home/image/1.jpg">
				</a>
			</div>
			<div class="col-xs-12 col-md-6 works-content">
				<a target="_blank"  href="http://mp.weixin.qq.com/s?__biz=MzI0MDQ4NTA1NA==&amp;mid=2247483676&amp;idx=1&amp;sn=5f5aa72ba8ac3d50c899f6b0c72690ca&amp;scene=4#wechat_redirect" title="刘惠倫老师画作">
				<h4>刘惠伦老师画作欣赏</h4>
				
					<img style="width: 100%" src="__STATIC__/home/image/2.jpg">
				</a>
			</div>
		</div>
	</div>
	<div class="meet" id="meetSh">
	<a name="c3"></a>
		<div class="container" >
			<h2>遇见书画</h2>
			<h4 style="margin-bottom:30px;font-weight: 100;font-size: 1.2em; ">想要欣赏更多书法家的作品以及获得更多书法方面资讯可以进入我们的遇见书画信息聚合平台</h4>
				{foreach $result as $key=> $value}
				<div class="col-xs-12 col-sm-6 col-md-4" style="margin-bottom:10px; ">
					<a target="_blank"  href="{$value.url}" class="thumbnail">
						<div style="height: 180px;overflow: hidden;">
							<img src="/thumbnails/{$value.thumbnails|mb_substr=0,19,'utf-8'}" style="width: 100%">
						</div>
						<p class="title">{$value.title}</p>
						<span>{$value.sourceName}·{$value.date}</span>
					</a>
				</div>
				{/foreach}
				<div class="col-xs-12 col-sm-6  col-md-4" style="margin-bottom:10px; ">
					<a target="_blank"  class="thumbnail" href="/index/rrs"  style="overflow: hidden;background-color:#f4cd87;color:#fff;font-size:25px;text-align: center;line-height: 220px;">
					查看更多>>
					</a>
				</div>
		</div>
	</div>
	<div style="background-color: #000;color: #fff;" >
	<a name="c4"></a>
		<div class="container">
		
			<h2>联系我们！</h2>
			<p style="text-indent:2em;margin-bottom:15px; ">如果您热爱且擅长书法绘画希望让更多的人能够欣赏到您的作品，我们可以免费为打造个人的自媒体</p>
			<p style="text-align: center;margin-bottom:30px;">您可以通过以下方式与我们取得联系</p>
			<div class="col-xs-12 col-sm-6">
				<p><span class="glyphicon glyphicon-map-marker" style="color:#E67448;margin-right:5px; "></span>深圳市宝安区西乡华源科技创新园D座401</p>
				<p><span class="glyphicon glyphicon-earphone" style="color:#E67448;margin-right:5px;"></span>0755-2357-2397,18123836160</p>
				<p><span class="glyphicon glyphicon-envelope" style="color:#E67448;margin-right:5px; "></span>Email:longfei@webozhong.com</p>
				<p class="wechat" style="display: inline-block;" ><span class="glyphicon glyphicon-qrcode" style="color:#E67448;margin-right:5px; "></span>关注我们：webozhong <br>	<img class="contacts"  src="__STATIC__/home/image/contacts.png" style="padding-left:20px;" title="webozhong"></p>
				
			</div>
			<div class="col-xs-12 col-sm-6 maps">
					<div style="width:100%;height:100%;border:#ccc solid 1px;font-size:12px" id="map"></div>
			</div>
		</div>
		     <span style="display: none;">
            <!--流量统计-->
            <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1260189428'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260189428%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
            </script><span id="cnzz_stat_icon_1260189428"><a href="http://www.cnzz.com/stat/website.php?web_id=1260189428" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="./播众互联网科技-免费的书法公众号定制平台_files/pic1.gif"></a></span><script src="./播众互联网科技-免费的书法公众号定制平台_files/z_stat.php" type="text/javascript"></script><script src="./播众互联网科技-免费的书法公众号定制平台_files/core.php" charset="utf-8" type="text/javascript"></script>
        </span>
	</div>
</div>
	<div style="background-color: #202020;color: #979797" class="footer">
		<div class="container " >
			<h3>友情链接</h3>
			<div class="row link">
				<p class="col-xs-4"><a target="_blank"  href="http://www.chinashj.com/" title="中国书画网" rel="noflollow">中国书画网</a></p>
				<p class="col-xs-4"><a target="_blank"  href="http://art.china.cn/" title="艺术中国" rel="noflollow">艺术中国</a></p>
				<p class="col-xs-4"><a target="_blank"  href="http://www.zgsf.com.cn/" title="中国书法在线" rel="noflollow">中国书法在线</a></p>
			</div>
			<div class="row link">
				<p class="col-xs-4"><a target="_blank"  href="http://art.china.cn/" title="中华网书画" rel="noflollow">中华网书画</a></p>
				<p class="col-xs-4"><a target="_blank"  href="http://arts.takungpao.com" title="大公艺术" rel="noflollow">大公艺术</a></p>
				<p class="col-xs-4"><a target="_blank"  href="http://www.9610.com/" title="书法空间" rel="noflollow">书法空间</a></p>
			</div>
			<div class="row link">
				<p class="col-xs-4"><a target="_blank"  href="http://arts.cri.cn/" title="国际在线书画频道" rel="noflollow">国际在线书画频道</a></p>
				<p class="col-xs-4"><a target="_blank"  href="http://www.8mhh.com/" title="书画纵横" rel="noflollow">书画纵横</a></p>
				<p class="col-xs-4"><a target="_blank"  href="http://www.shufa001.com/" title="书法第一网" rel="noflollow">书法第一网</a></p>
			</div>
			<div class="copyright">
				<p>深圳市播众互联网科技有限公司 版权所有 粤ICP备 16060560号</p>
				<p>Copyright © 2015-2017 webozhong.com All right reserved</p>
			</div>
		</div>	
	</div>
	<script src="__STATIC__/home/js/jquery-3.1.1.min.js"></script>
	<script src="__STATIC__/home/js/bootstrap.min.js"></script>
	<script type="text/javascript">
        //创建和初始化地图函数：
        function initMap(){
            createMap();//创建地图
            setMapEvent();//设置地图事件
            addMapControl();//向地图添加控件
            addMapOverlay();//向地图添加覆盖物
        }
        function createMap(){
            map = new BMap.Map("map");
            map.centerAndZoom(new BMap.Point(113.872153,22.575753),18);
        }
        function setMapEvent(){
            map.enableScrollWheelZoom();
            map.enableKeyboard();
            map.enableDragging();
            map.enableDoubleClickZoom()
        }
        function addClickHandler(target,window){
            target.addEventListener("click",function(){
                target.openInfoWindow(window);
            });
        }
        function addMapOverlay(){
            var markers = [
                {content:"播众互联网科技有限公司",title:" ",imageOffset: {width:0,height:-21},position:{lat:22.575311,lng:113.871811}}
            ];
            for(var index = 0; index < markers.length; index++ ){
                var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
                var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
                    imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                })});
                var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
                var opts = {
                    width: 200,
                    title: markers[index].title,
                    enableMessage: false
                };
                var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
                marker.setLabel(label);
                addClickHandler(marker,infoWindow);
                map.addOverlay(marker);
            };
        }
        //向地图添加控件
        function addMapControl(){
            var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
            scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
            map.addControl(scaleControl);
            var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:2});
            map.addControl(navControl);
            var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:false});
            map.addControl(overviewControl);
        }
        var map;
        initMap();
	</script>
</body>
</html>